.section-landing {
  padding-top: 180px;
  padding-bottom: 400px;
  background-color: #2557e0;
  position: relative;
}
.section-landing .container {
  position: relative;
}
.section-landing .prices {
  margin-top: 160px;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.section-landing .prices .item {
  width: 350px;
  height: 450px;
  background-color: white;
  border-radius: 6px;
  padding: 50px 40px;
  position: relative;
}
.section-landing .prices .item .title {
  padding: 0;
  margin: 0;
  font-size: 2.3rem;
  font-weight: 700;
  color: #192a59;
  text-align: center;
}
.section-landing .prices .item .subtitle {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-size: 1rem;
  color: #192a59;
  text-align: center;
}
.section-landing .prices .item .custom-feature {
  padding: 0;
  margin: 0;
  margin-top: 50px;
  color: #192a59;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 100%;
  line-height: 30px;
  text-align: center;
}
.section-landing .prices .item .feature-list {
  margin-top: 50px;
}
.section-landing .prices .item .feature-list .feature-item {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
}
.section-landing .prices .item .feature-list .feature-item img {
  width: 12px;
  margin-right: 8px;
}
.section-landing .prices .item .feature-list .feature-item p {
  color: #192a59;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 100%;
  line-height: 30px;
  padding: 0;
  margin: 0;
}
.section-landing .prices .item .price {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
}
.section-landing .prices .item .price .top-price {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
}
.section-landing .prices .item .price .top-price .currency {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 100%;
  color: #0F1010;
}
.section-landing .prices .item .price .top-price .fee {
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 100%;
  color: #0F1010;
}
.section-landing .prices .item .price .top-price .per {
  margin-left: 10px;
  margin-bottom: 5px;
  align-self: flex-end;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 100%;
  color: #0F1010;
}
.section-landing .prices .item .price .excl-text {
  margin-top: 10px;
  display: block;
  color: #B8C1D3;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 100%;
}
.section-landing .prices .item .custom-price {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin-top: 42px;
  color: #192a59;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 100%;
  line-height: 30px;
  text-align: center;
}
.section-landing .prices .price-pro-plus {
  height: 525px;
  margin: -30px -10px 0;
  padding-top: 90px;
  border: 3px solid #2557e0;
  border-radius: 9px;
  z-index: 1;
}
.section-landing .prices .price-pro-plus .banner {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 100%;
  padding: 12px 20px;
  position: absolute;
  color: white;
  background-color: #FD8368;
  top: 10px;
  left: -4px;
}
.section-landing .switch-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  right: 57px;
  margin-top: 85px;
}
.section-landing .switch-toggle label {
  margin-bottom: 0;
}
@media (max-width: 1199.98px) {
  .section-landing .switch-toggle {
    right: 0;
  }
}
@media (max-width: 991.98px) {
  .section-landing {
    padding-bottom: 100px;
  }
  .section-landing .switch-toggle {
    margin-top: 50px;
    left: 0;
    right: 0;
  }
  .section-landing .prices {
    margin-top: 100px;
    flex-direction: column;
    position: relative;
  }
  .section-landing .prices .item {
    margin: 0 0 20px 0;
    border: 0;
    border-radius: 6px;
  }
}
@media (max-width: 575.98px) {
  .section-landing .prices .item {
    width: 100%;
  }
}

.section-landing-bottom {
  background-color: #f7f8fc;
  height: 500px;
}
@media (max-width: 991.98px) {
  .section-landing-bottom {
    display: none;
  }
}

.section-faq {
  padding-top: 150px;
  padding-bottom: 200px;
}
.section-faq .questions {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
@media (max-width: 767.98px) {
  .section-faq .questions {
    grid-gap: 50px;
  }
}
@media (max-width: 575.98px) {
  .section-faq {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .section-faq .questions {
    margin-top: 50px;
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
}

.section-try-us {
  background-color: #2557e0;
  padding: 100px 0;
}
.section-try-us .description {
  max-width: 825px;
  margin-left: auto;
  margin-right: auto;
}
