$font-primary: "Roboto", sans-serif;
$font-logo: "Pacifico", sans-serif;

$color-green: #00bea5;
$color-blue: #2557e0;
$color-lilac: #f7f8fc;
$color-text: #192a59;
$color-footer: #51607E;

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
